body {
    background-image: linear-gradient(to bottom right,honeydew, pink);
    position: relative;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkgreen;
}



#first-last-name {
    height: 100%;
    width: 40%;
    margin-left: 60%;
    margin-bottom: 1%;
    border-radius: 15px;
    font-size: 60px;
    text-align: center;
    color: darkgreen;
    opacity: 75%;
}

.gradient-text {
    background-image: linear-gradient(45deg, white, darkgreen);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.links {
    font-family: monospace;
    font-size: 15px;
    height: 100%;
    width: 10%;
    margin-left: 65%;
    padding-top: 0;
    list-style: none;
    display: inline-block;
}

li.link-list:hover {
    background-color: lavender;
}


img {
    text-align: center;
    margin-left: 10%;
    height: 20%;
    width: 20%;
}

.about-me {

}

.projects {
    border-style: double;
    border-radius: 15px;
    border-color: white;
    display: inline-block;
    margin: 0 0 0 0;
    width: 5%;
    height: 100%;
    width: 100%;
    padding: 0 0 0 0;
    text-align: center;
}

h2 {
    width: 50%;
}

h2:hover {

}


p.project-description {
    width: 50%;
    
}


.footer {
    display: inline-block;
}

.contact-links {
    list-style: none;
}



